%flexSpaceBetween {
    display: flex;
    justify-content: space-between;
}

// button 
%buttonStyleFirst {
    width: 170px;
    height: 69px;
    background-color: $primaryLinkColor;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;

}
