@import '_variable.scss';
@import '_placeholders.scss';
@import '_lightbox.scss';
a {
  text-decoration: none;
}
.test{
  position: fixed;
  
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'DM sans';
  position: relative;
  overflow-x: hidden;
  button {
    &:hover {
      color: white;
      background-color: $primaryLinkColor;
    }
  }
}

.main-container {
  margin: 0 auto;
  width: 1440px;
  height: 100%;
  position: relative;
}

.logo {
  margin: 44.91px 0px 0 100px;
}

nav {
  padding-top: 61px;
  padding-right: 300px;
  margin: 0 auto;
}

.label {
  width: 198px;
  height: 30px;
  position: absolute;
  background-color: white;
  left: 49%;
  background: $primaryFontColor;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  //display: none;
}

.searchButton {
  position: relative;
  background-color: white;
  color: $primaryBackgroundColor;
  outline: none;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  height: 22px;
  transition: 0.2s;
}

.searchButton -active {
  position: relative;
  background-color: $primaryLinkColor;
  color: white;
  outline: none;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  height: 22px;
  transition: 0.2s;
}

header {
  @extend %flexSpaceBetween;
  width: 100%;
  margin-bottom: 55px;
}

main {
  width: 100%;

  h1 {
    position: absolute;
    right: 100px;
    top: 30px;
    font-weight: 400;
    color: $primaryLinkColor;
  }

  .main-section {
    @extend %flexSpaceBetween;
    flex-wrap: wrap;
    margin: 0 15px;
    a {
      width: 100%;
    }
  }

  // VIGNETTE PHOTOGRAPHE //
  .thumb-photographer {
    margin: 6px;
    width: 350px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    h2 {
      text-align: center;
      color: $primaryFontColor;
      font-weight: 400;
      font-size: 36px;
      margin: 20px 0 0 0;
    }
    .id-picture {
      margin: 0 auto;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
      background: #c4c4c4;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-right: 30px;
      }
    }
    .search-label {
      display: flex;
      justify-content: center;
      button {
        transition: 0.2s;
        &:hover {
          color: white;
          background-color: $primaryLinkColor;
        }
      }
    }

    .description {
      text-align: center;
      line-height: 13.04px;
      font-size: 10px;
    }

    .photographer-location {
      margin-top: 17px;
      color: $primaryFontColor;
      font-weight: 400;
    }
    .photographer-tag {
      color: black;
    }
    .photographer-price {
      font-size: 9px;
      color: #757575;
    }
  }
}

// CONTACT //
#modal {
  position: fixed;

  z-index: 1000;
  left: 50%;
  top: 0px;
  transform: translate(-50%, 2%);
  //height: 900px;
  height: 800px;
  width: 669px;
  border-radius: 5px;
  background: #db8876;
  border-radius: 5px;
  animation: 0.5s fadein ease-out backwards;
  display: none;
  opacity: 0;

  // animation modal //
  @keyframes fadein {
    0% {
      display: none;
      opacity: 0;
      transform: translate(50%, 2%);
    }
    90% {
      transform: translate(-55%, 2%);
    }

    100% {
      opacity: 1;
      transform: translate(-50%, 2%);
    }
  }

  img {
    position: absolute;
    top: 35px;
    right: 35px;
  }
  h1 {
    padding: 15px 185px 0 35px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 83px;
    margin: 0;
  }
  h2 {
    font-size: 64px;
    font-weight: 400;
    margin: 0 35px 19px;
  }

  .firstname,
  .lastname,
  .mail {
    width: 599px;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin: 0 35px;
    font-size: 36px;
    color: #312e2e;
    margin-top: 10px;

    #prenom,
    #nom,
    #email {
      height: 68px;
      font-size: 20px;
      padding-bottom: 0;
    }
  }
  textarea {
    padding: 0px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}
  .user-message {
    font-size: 36px;
    color: #312e2e;
    width: 599px;
    height: 170px;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    margin: 0 35px;

  }
  .send {
    background-color: $primaryLinkColor;
    color: white;
    width: 170px;
    height: 69px;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin: 26px 0 0 35px;
    outline: none;
    cursor: pointer;
  }
  #close {
    cursor: pointer;
  }
}

// photographer page //
.photographer-header {
  position: relative;
  width: 1240px;
  height: 313px;
  background-color: #fafafa;
  margin: 40px 100px 0 100px;
  align-items: center;
  .photographer-profile {
    padding-left: 50px;

    .photographer-name {
      position: initial;
      font-size: 64px;
      font-weight: 400;
      margin: 0;
      color: $primaryFontColor;
    }
    p:nth-child(2) {
      font-size: 24px;
      color: $primaryFontColor;
      margin: 0;
    }
    p:nth-child(3) {
      font-size: 18px;
      color: #525252;
      font-weight: 400;
    }
  }

  .contact-me {

    width: 170px;
    height: 69px;
    margin: 0 100px 120px 1px;
    background-color: $primaryLinkColor;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    transition: 0.3s;
    &:hover {
      background-color: rgb(190, 76, 76);
    }
  }

  .id-picture {
    margin-right: 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background: #c4c4c4;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding-right: 30px;
    }
  }
}
.short-by {
  position: relative;
  margin-left: 100px;
  margin-top: 20px;
  display: flex;
}

.dropdown-open {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 60px;
  height: 62px;
  //height: 170px;
  width: 170px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: $primaryLinkColor;
  color: #ffffff;
  font-size: 14px;
  overflow: hidden;
  transition: 0.3s;

  .btnfilter{
    background-color: transparent;
    color: white;
    font-weight: 700;
  }

  .up_arrow_icon {
    transition: 0.2s;
    cursor: pointer;
  }

  ul {
    margin: O;
    padding: 0;
    width: 100%;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
    text-align: left;
    :first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        width: 16px;
        height: 9.88px;
        margin-right: 18px;
      }
    }
    li:not(.trait) {
      line-height: 23, 44px;
      margin: 10px 0 20px;
      padding-left: 20px;
    }
  }
  .menu-underline {
    height: 1px;
    width: 150px;
    border: none;
    background-color: #ffffff;
  }
}
.thumb-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin: 58px 100px 0;


  .thumb-img {
    height: 351px;
    width: 350px;
    margin-right: 95px;
    margin-bottom: 71px;
    display: grid;
    grid-template-columns: 232px 60px 40px 18px;
    grid-template-rows: 300px 51px;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
    // picture name
    .picture_name {
      align-items: center;
      font-size: 18px;
      color: $primaryFontColor;
      margin-top: 12px;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    // price
    .picture_price {
      margin-top: 10px;
      color: $primaryFontColor;
      grid-column-start: 2;
      grid-column-end: 3;
    }
    // number of like
    .like_counter {
  
      margin-top: 10px;
      color: $primaryFontColor;
      grid-row: 2;
      grid-column-start: 3;
      grid-column-end: 3;
    }
    // heart icon
    .heart-icon {
      height: 18.350000381469727px;
      width: 17.5px;
      left: 1.75px;
      margin-top: 16px;
      grid-column-start: 4;
      grid-column-end: 5;
      cursor: pointer;
    }

    img {
      grid-column-start: 1;
      grid-column-end: 5;
      object-fit: cover;
      height: 300px;
      width: 100%;
    }
  }
}
.thumb-video{
  height: 351px;
  width: 350px;
  margin-right: 95px;
  margin-bottom: 71px;
  display: grid;
  grid-template-columns: 232px 60px 40px 18px;
  grid-template-rows: 300px 51px;
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
  // picture name
  .picture_name {
    align-items: center;
    font-size: 18px;
    color: $primaryFontColor;
    margin-top: 12px;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  // price
  .picture_price {
    margin-top: 10px;
    color: $primaryFontColor;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  // number of like
  .like_counter {

    margin-top: 10px;
    color: $primaryFontColor;
    grid-row: 2;
    grid-column-start: 3;
    grid-column-end: 3;
  }
  // heart icon
  .heart-icon {
    height: 18.350000381469727px;
    width: 17.5px;
    left: 1.75px;
    margin-top: 16px;
    grid-column-start: 4;
    grid-column-end: 5;
    cursor: pointer;
  }

  img {
    grid-column-start: 1;
    grid-column-end: 5;
    object-fit: cover;
    height: 300px;
    width: 100%;
  }
}


.resume_like_price{
  width: 350px;
  height: 89px;
  position: fixed;
  background-color: #DB8876;
  font-size: 24px;
  right: 36px;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 34px;


.heart-icon-resume{
width: 22px;
height: 20px;
margin-right: 90px;
color: black;
}

.total_counter_resume{
margin-right: 10px
}
}
// component //

.component-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0;

  .component-nav {
    margin-right: 80px;
    margin-top: 170px;
    margin-left: 550px;
    padding: 0;
  }
  .formtext-area {
    width: 599px;
    height: 97px;
    font-size: 36px;
    margin: 60px 0 0 50px;
  }

  button {
    padding: 0;
    font-size: 18px;
    @extend %buttonStyleFirst;
    width: 170px;
  }
}
.photographer-stats {
  width: 200px;

  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: -139px;
  left: 233px;
  img {
    height: 17px;
    width: 18.35px;
  }
}
.component-main {
  position: relative;
  margin-top: -70px;
}
.photographer-component {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  .thumb-section {
    width: 300px;
  }
  .thumb-photographer:not(:first-child) {
    margin: 0;
    width: auto;
    margin: 60px 135px 0 50px;
    .id-picture {
      width: 200px;
      height: 200px;
    }
  }
}
.main-container-component {
  margin: 0 auto;
  width: 1440px;
  .photographer-header {
    width: 1240px;
    .id-picture {
      margin-right: 50px;
    }
  }
}
.thumb-photographer-side {
  width: 370px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  margin: 53px 0px 0 90px;
  .description {
    text-align: left;
    :first-child {
      font-size: 24px;
      font-weight: 400;
      margin-left: 8px;
      margin-bottom: 0;
    }
    :nth-child(2) {
      font-size: 18px;
      font-weight: 400;
      margin-left: 8px;
      margin-top: 19px;
      color: #525252;
    }
  }
  h2 {
    color: $primaryFontColor;
    font-weight: 400;
    font-size: 64px;
    margin: 39px 0 0 0px;
  }

  .id-picture {
    margin-left: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background: #c4c4c4;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding-right: 30px;
    }
  }

  .search-label {
    display: flex;
    justify-content: start;
    margin-left: 8px;
  }
}
.component-nav {
  button {
    margin-right: 30px;
  }

  display: flex;
  .dropdown-open {
    position: initial;
    margin-right: 43px;
  }
}


// MEDIA QUERIS IPHONE //
@media (max-width: 640px) {
  .label {
    display: none;
  }
  .main-container {
    width: 375px;
    margin: 0;
    padding: 0;
  }
  .logo {
    margin: 40px 0 0 20px;
    width: 150px;

    img {
      width: 150px;
      height: 37, 5px;
    }
  }
  main {
    h1 {
      width: 100%;
      left: 234px;
      top: 53px;
      font-size: 14px;
      margin: 0;
    }
    .thumb-Photographer {
      :last-child {
        margin-bottom: 30px;
      }
    }
  }
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .label {
      top: 0;
      left: 100px;
    }

    nav {
      margin: 0px;
      display: flex;
      flex-wrap: wrap;
      width: 375px;
      padding-top: 41px;
      padding-right: 0;
      button {
        margin: 6px 5px 0 0px;
      }
      :first-child {
        margin-left: 39px;
      }
      :nth-child(4) {
        margin-right: 51px;
      }
      :nth-child(5) {
        margin-left: 56px;
        margin-right: 4px;
      }
      :nth-child(6) {
        margin-right: 4px;
      }
    }
  }
}
