header, main .main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'DM sans';
}

.main-container {
  margin: 0 auto;
  width: 1440px;
  height: 100%;
  position: relative;
}

.logo {
  margin: 44.91px 0px 0 100px;
}

nav {
  padding-top: 61px;
  padding-right: 300px;
  margin: 0 auto;
}

.label {
  position: absolute;
  background-color: white;
  left: 49%;
  background: #D3573C;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 8px 8px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.searchButton {
  position: relative;
  background-color: white;
  color: #901C1C;
  outline: none;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  height: 22px;
}

header {
  width: 100%;
  margin-bottom: 55px;
}

main {
  width: 100%;
}

main h1 {
  position: absolute;
  right: 100px;
  top: 30px;
  font-weight: 400;
  color: #D3573C;
}

main .main-section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 15px;
}

main .thumb-Photographer {
  margin: 6px;
  width: 350px;
  height: 400px;
  background-color: white;
}

main .thumb-Photographer h2 {
  text-align: center;
  color: #D3573C;
  font-weight: 400;
  font-size: 36px;
  margin: 20px 0 0 0;
}

main .thumb-Photographer .id-picture {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background: #c4c4c4;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

main .thumb-Photographer .id-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-right: 30px;
}

main .thumb-Photographer .search-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .thumb-Photographer .description {
  text-align: center;
  line-height: 13.04px;
  font-size: 10px;
}

main .red {
  margin-top: 0;
  color: #D3573C;
  font-weight: 400;
}

main .grey {
  font-size: 9px;
  color: #757575;
}

#modal {
  position: relative;
  margin: 0 auto;
  height: 830px;
  width: 669px;
  border-radius: 5px;
  background: #db8876;
  border-radius: 5px;
  display: block;
}

#modal img {
  position: absolute;
  top: 35px;
  right: 35px;
}

#modal h1 {
  padding: 15px 185px 0 35px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 83px;
  margin: 0;
}

#modal h2 {
  font-size: 64px;
  font-weight: 400;
  margin: 0 35px 19px;
}

#modal .firstname,
#modal .lastname,
#modal .mail {
  width: 599px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 35px;
  font-size: 36px;
  color: #312e2e;
  margin-top: 10px;
}

#modal .firstname #prenom,
#modal .firstname #nom,
#modal .firstname #email,
#modal .lastname #prenom,
#modal .lastname #nom,
#modal .lastname #email,
#modal .mail #prenom,
#modal .mail #nom,
#modal .mail #email {
  height: 68px;
  font-size: 20px;
  padding-bottom: 0;
}

#modal .user-message {
  font-size: 36px;
  color: #312e2e;
  width: 599px;
  height: 170px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 35px;
}

#modal .user-message #votre-message {
  height: 170px;
  padding: 0;
}

#modal .send {
  background-color: #901C1C;
  color: white;
  width: 170px;
  height: 69px;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin: 26px 0 0 35px;
  outline: none;
}

.photographer-header {
  position: relative;
  width: 1240px;
  height: 313px;
  background-color: #fafafa;
  margin: 40px 100px 0 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photographer-header .photographer-profile {
  padding-left: 50px;
}

.photographer-header .photographer-profile .photographer-name {
  position: initial;
  font-size: 64px;
  font-weight: 400;
  margin: 0;
}

.photographer-header .photographer-profile p:nth-child(2) {
  font-size: 24px;
  color: #901C1C;
  margin: 0;
}

.photographer-header .photographer-profile p:nth-child(3) {
  font-size: 18px;
  color: #525252;
  font-weight: 400;
}

.photographer-header .contact-me {
  position: absolute;
  top: 63px;
  left: 450px;
  width: 170px;
  height: 69px;
  background-color: #901C1C;
  outline: none;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.photographer-header .id-picture {
  margin-right: 100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background: #c4c4c4;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.photographer-header .id-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-right: 30px;
}

.short-by {
  position: relative;
  margin-left: 100px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-open {
  position: absolute;
  left: 60px;
  height: 100px;
  width: 100px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #901C1C;
  color: #ffffff;
  font-weight: 18px;
}

.dropdown-open ul {
  margin: O;
  padding: 6px 0 7px 13px;
  font-weight: 700;
  list-style: none;
  text-decoration: none;
}

.dropdown-open ul li {
  line-height: 23, 44px;
}

.dropdown-open .bar {
  height: 1px;
  width: 80%;
  background-color: white;
}

.thumb-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 58px 100px 0;
}

.thumb-section .thumb-img {
  height: 351px;
  width: 350px;
  margin-right: 95px;
  margin-bottom: 71px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 232px 60px 40px 18px;
      grid-template-columns: 232px 60px 40px 18px;
  -ms-grid-rows: 300px 51px;
      grid-template-rows: 300px 51px;
  font-weight: 500;
  font-size: 24px;
}

.thumb-section .thumb-img :nth-child(2) {
  color: #D3573C;
  margin-top: 10px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.thumb-section .thumb-img :nth-child(3) {
  margin-top: 10px;
  color: #D3573C;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.thumb-section .thumb-img :nth-child(4) {
  padding-left: 10px;
  margin-top: 10px;
  color: #D3573C;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 3;
}

.thumb-section .thumb-img :nth-child(5) {
  height: 18.350000381469727px;
  width: 17.5px;
  left: 1.75px;
  margin-top: 16px;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
}

.thumb-section .thumb-img img {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */